@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 2rem 4rem;
  width: 100vw;
  height: 100vh;
  background: #FFFFFF;
  font-family: 'Inter', sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

/* HOME PAGE */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}
.profile__pic {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative;
}
.overlay {
  position: absolute;
  width: 88px;
  height: 88px;
  top: 0;
  bottom: 0;
  left: 1.4rem;
  right: 0;
  border-radius: 50%;
  background: rgba(52, 64, 84, 0.75);
  cursor: pointer;
  opacity: 0;
}
.overlay:hover {
  opacity: 1;
}
.cam__icon {
   position: absolute;
   bottom: 0.5rem;
   left: 50%;
   transform: translateX(-50%);
}
#slack {
  display: none;
}
#twitter {
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  color: #101818;
  text-align: center;
}
.menu {
  position: absolute;
  right: 20%;
}
.mobile__menu, .desktop__menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px dashed #D0D5DD;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mobile__menu:hover, .desktop__menu:hover {
  background: #D0D5DD;
}
.mobile__menu {
  display: none;
}
main {
  margin-top: 2rem;
  width: 100%;
}
.link__tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.link__tree .link {
  padding: 24px 32px;
  background: #EAECF0;
  text-decoration: none;
  color: #101818;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  border-radius: 8px;
  max-width: 1152px;
  text-align: center;
}
.link__tree .link:hover {
  background: #D0D5DD;
}
.social__links {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.social__links > * {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* FOOTER */

footer {
  margin-top: 3rem;
  width: 100%;
  max-width: 1216px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-top: 1px solid #EAECF0;
  /* position: sticky;
  background: #FFFFFF;
  bottom: 0; */
}
footer > * {
  max-width: 100%;
  height: auto;
}
footer .footer__text {
  font-weight: 400;
  color: #667085;
}

/* CONTACT PAGE */
.contact__page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contact__container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact__title {
  color: #101828;
  font-size: 36px;
  font-weight: 600;
}
.contact__text {
  color: #475467;
  font-size: 20px;
  font-weight: 400;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.name__container {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.name__container > * {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.form__child {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.form__child-title {
  color: #344054;
  font-size: 14px;
  font-weight: 500;
}
input[type="text"], input[type="email"] {
  width: 100%;
  border: 1px solid #D0D5DD;
  height: 44px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  padding-left: 1rem;
  color: #101828;
  font-size: 16px;
  font-weight: 400;
}
input:focus, textarea:focus {
  outline-color: #84CAFF;
}
input::placeholder, textarea::placeholder {
  color: #667085;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}
textarea {
  font-family: 'Inter', sans-serif;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  height: 132px;
  max-width: 720px;
  padding: 1rem;
  color: #101828;
  font-size: 16px;
}
.error__msg {
  font-size: 14px;
  font-weight: 500;
  color: #F83F23;
}
.error__border {
  border: 1px solid #F89687;
}
.checkbox {
  display: flex;
  gap: 0.3rem;
}
.checkbox > input {
  min-width: 15px;
  min-height: 15px;
  margin-right: 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border: 1px solid #D0D5DD;
  background-color: white;
  cursor: pointer;
}
.checkbox > input:focus {
  outline-color: #84CAFF;
}
.checkbox > label {
  color: #475467;
  font-weight: 400;
  font-size: 16px;
}
#btn__submit {
  height: 48px;
  border: 1px solid #1570EF;
  background-color: #1570EF;
  color: white;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  cursor: pointer;
}
#btn__submit:hover {
  background: #175CD3;
}

@media screen and (max-width: 768px) {
  body {
    padding: 2rem 1rem;
  }
  .menu {
    right: 1rem;
  }
  .mobile__menu {
    display: flex;
  }
  .desktop__menu {
    display: none;
  }
  .link__tree .link {
    font-size: 14px;
  }
  footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.2rem;
  }
  .name__container {
    flex-direction: column;
  }
  .checkbox {
    align-items: flex-start;
  }
  .contact__text {
    font-size: 18px;
  }
}
  
