* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
#profile__img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}
#slack {
  display: none;
}
#twitter {
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  text-align: center;
}
.menu {
  display: none;
}
.link__tree {
  display: flex;
  flex-direction: column;
}